
• {

  box-sizing: border-box;
}

#sec{
  min-height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(bg-intro-mobile.png);
  background-color: hsl(0, 100%, 74%);
  padding: 100px 0;
}
.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  padding: 0 30px;
  max-width: 1300px;
  margin: 0 auto;
}
.side {
  flex: 1;
  margin-bottom: 50px;
}
.side h1 {
  color: white;
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.side p {
  color: white;
  font-size: 1.3rem;
  line-height: 1.9rem;
  
}

.right {
  flex: 1;
}
.right .top {
  background-color: hsl(248, 32%, 49%);
  color: white;
  padding: 15px 90px;
  border-bottom: 5px solid hsla(249, 10%, 26%, 0.466);
  border-radius: 15px;
  box-shadow: 0 7px hsla(249, 10%, 26%, 0.404);
  margin-bottom: 30px;
}
.right .top p {
  font-size: 1.3rem;
  line-height: 2.2rem;
}
.right .top p span {
  font-weight: 700;
}
.right .formWrapper {
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px hsla(249, 10%, 26%, 0.404);
}
.entry {
  position: relative;
  margin-bottom: 25px;
}
.right label {
  display: none;
}
.right input,
.right button[type="submit"] {
  width: 100%;
  height: 60px;
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1.3px solid hsl(246, 25%, 77%);
  padding-left: 20px;
  outline: none;
  color: hsl(249, 10%, 26%);
  font-family: ‘Poppins’, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.right input:focus {
  border: 1.5px solid hsl(249, 10%, 26%);
}
.right input::placeholder {
  color: hsla(249, 10%, 26%, 0.678);
  font-family: ‘Poppins’, sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
}
.right button[type="submit"] {
  cursor: pointer;
  background-color: hsl(154, 59%, 51%);
  box-shadow: 0px 4px hsl(154, 56%, 44%);
  color: white;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-bottom: 0;
  border: none;
}
.right button[type="submit"]:hover {
  background-color: hsl(154, 73%, 65%);
}
.right .end {
  margin-top: 10px;
  color: hsl(246, 25%, 77%);
}
.right .end span {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
}




@media only screen and (min-width: 1365px) {
  #intro {
    background-image: url(bg-intro-desktop.png);
  }
  .container {
    flex-direction: row;
  }
  .side {
    text-align: left;
    padding-right: 50px;
  }
  .side h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .side p {
    font-size: 1.1rem;
  }
  .side {
    max-width: 500px;
  }
  .right .top p {
    font-size: 1.1rem;
  }
  .right .top {
    padding: 20px;
  }
  .right .formWrapper {
    padding: 40px;
  }
  .right input::placeholder,
  .right input {
    font-size: 1.05rem;
    height: 60px;
  }
  .right .end {
    margin-top: 20px;
    font-size: 0.7rem;
  }
}


@media only screen and (min-width:375px) {
    #intro {
      background-image: url(bg-intro-mobile.png);
    }
    .container {
      flex-direction: row;
    }
    .side {
      text-align: left;
      padding-right: 50px;
    }
    .side h1 {
      font-size: 3rem;
      line-height: 3.5rem;
    }
    .side p {
      font-size: 1.1rem;
    }
    .side {
      max-width: 500px;
    }
    .right .top p {
      font-size: 1.1rem;
    }
    .right .top {
      padding: 20px;
    }
    .right .formWrapper {
      padding: 40px;
    }
    .right input::placeholder,
    .right input {
      font-size: 1.05rem;
      height: 60px;
    }
    .right .end {
      margin-top: 20px;
      font-size: 0.7rem;
    }
  }
